.footer-container{
    .footer-wrapper{
        .footer-content{

            * h1{
                font-size: var(--fs-600);
                color: var(--secondaryColor);
                padding: 1rem 0;
            }
            *p{
                font-size: var(--fs-400);
                color: var(--greyColor);
                padding-bottom: 1rem;

            }
            & *i{
                font-size: var(--fs-500);
                padding-right: 1.5rem;
            }
   
        }
        .reserve{
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: var(--fs-600);
                color: var(--greyColor);

            }
        }
    }
}



@media screen and(min-width:700px) {
    .footer-container {
            .footer-wrapper {
                width: 90%;
                    margin: 0 auto;
                .footer-content {
                    display: grid;
                    row-gap: 2rem;
                    grid-template-columns:40% 30% 30%;
                    justify-content: center;
                        align-items: center;
                        
                    
    
                    * h1 {
                        font-size: var(--fs-600);
                        color: var(--secondaryColor);
                        padding: 1rem 0;
                    }
    
                    *p {
                        font-size: var(--fs-400);
                        color: var(--greyColor);
                        padding-bottom: 1rem;
    
                    }
    
                    & *i {
                        font-size: var(--fs-600);
                    }


                    .resources{
                        justify-self: end;
                    }
                    .company{
                        justify-self: end;
                    }
    
                }
            }
        }
}

@media screen and(min-width:1024px) {
    .footer-container {
            .footer-wrapper {
                width: 85%;
                    margin: 0 auto;
                .footer-content {
                    display: grid;
                    row-gap: 2rem;
                    grid-template-columns: repeat(3, 1fr);
                    justify-content: center;
                    align-items: center;
                    
                    
    
                    * h1 {
                        font-size: var(--fs-600);
                        color: var(--secondaryColor);
                        padding: 1rem 0;
                    }
    
                    *p {
                        font-size: var(--fs-400);
                        color: var(--greyColor);
                        padding-bottom: 1rem;
    
                    }
    
                    & *i {
                        font-size: var(--fs-600);
                    }


                    .resources{
                        justify-self: center;
                    }
                    .company{
                        justify-self: center;
                    }
    
                }
            }
        }
}