/** @format */

#home {
  .hero-container {
    width: 100vw;
    min-height: 90vh;
    overflow: hidden;
    position: relative;
   
   
    //
    .hero-wrapper {
      

      .hero-content {


      .hero-content-text{
        max-width: 90vw;
          margin: 0 auto;
        display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 80vh;
          z-index: 10;
          


          .hero-text-header {
           
          h1 {
            font-size: var(--fs-700);
            letter-spacing: 0.2rem;
          }
          p {
            font-size: var(--fs-400);
            color: var(--secondaryColor);
            font-weight: 600;
          }
        }


        .buy-rent-container {
              display: grid;
                place-items: center;
                justify-content: center;
                align-items: center;
            .buy-rent-content-wrapper {
                background-color: var(--lightColor);
                width:89vw;
                border-radius: 0.5rem;
                padding-top: 1rem;
                
                
                
                .buy-rent-header {
                  display: flex;
                  flex-direction: column;
                  gap: 2rem;
                  padding: 1rem;
                  background-color: var(--primaryColor);
                  width: -moz-fit-content;
                  width: fit-content;
                  position: relative;
                  cursor: pointer;
                  margin-left:1rem;
               
                }
               
  
                #location, #property, #price, #keyword{
                    
                    width: 85vw;
                    border:none;
                    border-bottom: 0.2rem solid var(--secondaryColor);
                    padding-left:0.5rem;
                   
                    padding-bottom: 0.1rem;
                    font-size: var(--fs-400);
                    font-weight: 600;
                    color:var(--secondaryColor);
                    background:transparent;
                    cursor: pointer;
                    & option{
                       color:var(--secondaryColor);
                       
                    }
                }
               
                
                
               
                .location, .property, .price, .key-word, .form-btn{
                
                    padding: 1rem;
                    margin:0;
                }
  
              .form-btn {
                .btn {
                    width: 100%;
                    height: 3.5rem;
                    border: none;
                    border-radius: 0.5rem;
                }
              }
  
                          
            }
          
        }


        .number-container{
        
            display: flex;
            gap: 2.5rem;
        
            
            & *span{
              font-size: var(--fs-800);
               color: var(--numberColor);
              font-weight: 600;
            }
            & *p{
              font-size: var(--fs-300);
              font-weight: 500;
            }
        }

      }

      .hero-image{
        
      
        display: flex;
        align-items: right;
        justify-content: right;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -51%);
        width: 100%;
        height: 90%;
        z-index: -10;
        object-fit:cover;
        overflow: hidden;
      }
      
      }
    }
  }
}

@media screen and (min-width:360px) {

  #home {
      .hero-container {


        .hero-wrapper{

          .hero-content{

                .hero-content-text {
            
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  min-height: 80vh;
                  z-index: 10;
            
            
                  .hero-text-header {
                    margin-top:3rem;
                    h1 {
                      font-size: var(--fs-1000);
                      letter-spacing: 0.2rem;
                    }
            
                    p {
                      font-size: var(--fs-300);
                      color: var(--secondaryColor);
                      // font-weight: 600;
                    }
                  }
            
            
                  .buy-rent-container {
                    transform: translateY(-4rem);
                    display: grid;
                      place-items: center;
                      justify-content: center;
                      align-items: center;
            
                      .buy-rent-content-wrapper {
                        background-color: var(--lightColor);
                        width: 90vw;
                        border-radius: 0.5rem;
                      
            
            
                        .buy-rent-header {
                          display: flex;
                          flex-direction: column;
                          gap: 2rem;
                          padding: 1rem;
                          background-color: var(--primaryColor);
                          width: -moz-fit-content;
                          width: fit-content;
                          position: relative;
                          cursor: pointer;
                          margin-left: 1rem;
            
                        }
        
                        #location, #property, #price, #keyword{
                          margin-top:1rem;
                        }
            
            
            
            
            
                      
        
            
                        
                      }
                    
                  }
            
            
                //   .number-container {
            
                // transform: translateY(3rem);
                //   }
            
                }




          }
        }
      
          
      }

}
@media screen and (min-width:390px) {

  #home {
      .hero-container {


        .hero-wrapper{

          .hero-content{

                .hero-content-text {
        
            
                  .hero-text-header {
            
                    h1 {
                      font-size: var(--fs-1000);
                      letter-spacing: 0.2rem;
                    }
            
                    p {
                      font-size: var(--fs-300);
                      color: var(--secondaryColor);
                      // font-weight: 600;
                    }
                  }
            
            
                  .buy-rent-container {
                
            
                      .buy-rent-content-wrapper {
                        background-color: var(--lightColor);
                        width: 90vw;
                        border-radius: 0.5rem;
                        padding-top: rem;
            
            
                        .buy-rent-header {
                          display: flex;
                          flex-direction: column;
                          gap: 2rem;
                          padding: 1rem;
                          background-color: var(--primaryColor);
                          width: -moz-fit-content;
                          width: fit-content;
                          position: relative;
                          cursor: pointer;
                          margin-left: 1rem;
            
                        }
        
                        #location, #property, #price, #keyword{
                          margin-top:1rem;
                        }
            
            
            
            
            
                      
        
            
                        
                      }
                    
                  }
            
            
                  
            
                }




          }
        }
      
          
      }

}
@media screen and (min-width:500px) {

  #home {
      .hero-container {


        .hero-wrapper{

          .hero-content{

                .hero-content-text {
        
            
                  .hero-text-header {
            
                    h1 {
                      font-size: 3rem;
                      letter-spacing: 0.3rem;
                    }
            
                    p {
                      font-size: 1.4rem;
                      color: var(--secondaryColor);
                      font-weight: 600;
                     }
                  }
            
            
                  .buy-rent-container {
                display: grid;
                  place-items: center;
                  justify-content: center;
                  align-items: center;
                  transform: translateY(4vh);
            
                      .buy-rent-content-wrapper {
                        background-color: var(--lightColor);
                        width: 90vw;
                        border-radius: 0.5rem;
                        text-align: center;
                        
            
            
                        .buy-rent-header {
                          display: flex;
                          flex-direction: column;
                          gap: 2rem;
                          padding: 1rem;
                          background-color: var(--primaryColor);
                          width: -moz-fit-content;
                          width: fit-content;
                          position: relative;
                          cursor: pointer;
                          margin-left: 1rem;
            
                        }
        
                        #location, #property, #price, #keyword{
                          margin:1.2rem 0;
                          font-size: var(--fs-500);
                          font-weight: 600;
                        }
            
            
            
            
            
                      
        
            
                        
                      }
                    
                  }

                  .number-container {

                  transform: translateY(6vh);

                  }
    
                }

          }
        }
      
          
      }

}






@media screen and (min-width:1024px) {

#home {
    .hero-container {


      .hero-wrapper {

        .hero-content {
          

          .hero-content-text {

            max-width: 85vw;
              margin: 0 auto;
           margin-top: 8rem;
           


            .hero-text-header {

              h1 {
                font-size: var(--fs-1000);
                letter-spacing: 0.2rem;
              }

              p {
                font-size: var(--fs-300);
                color: var(--secondaryColor);
                // font-weight: 600;
              }
            }


            .buy-rent-container {
            display: grid;
              place-items: center;
              justify-content: left;
              align-items: center;
              transform: translateY(-4vh);

              .buy-rent-content-wrapper {
                background-color: var(--lightColor);
                width: fit-content;
                border-radius: 0.5rem;
                padding-top: rem;


                .buy-rent-header {
                 display: flex;
                  gap: 2rem;
                  padding: 1rem;
                  background-color: var(--primaryColor);
                  width: -moz-fit-content;
                  width: fit-content;
                  position: relative;
                  cursor: pointer;
                  margin-left: 1rem;

                }
                #buy-form{
                  display: flex;

                  .form-btn {
                      .btn {
                        width: 100%;
                        height: 3.5rem;
                        border: none;
                        border-radius: 0.5rem;
                        padding: 0.35rem 5rem;
                      }
                    }
                }

                #location,
                #property,
                #price,
                #keyword {
                  margin-top: 1rem;
                  width: 100%;
                }

                

              }

            }


            .number-container {

              transform: translateY(-6vh);

           

          }




        }
      }


    }
}
}
}
}
}
}