header{
    .container{
        min-height: 10vh;
        overflow-x:hidden;
        
        nav{

           
            .container-mob{
                display:grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                min-height: 10vh;
                padding: 2rem 0;


                .company-name{
                    .logo{
                        h1{
                            font-size: var(--fs-700);
                            font-weight: 700;

                            a{
                                color: var(--secondaryColor);
                            }

                        }
                    }
                }

                .contact-lang {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    justify-self: end;

                    .lang {
                        cursor: pointer;

                        #lang {

                            background: transparent;
                            border: none;
                        }
                    }

                    .contact {

                        display:none;
                    }

                    .btn-menu{
                            background: transparent;
                            color:var(--secondaryColor);
                            font-size: var(--fs-700);
                            font-weight: 700;
                        
                    }


                }


                .navlist{
                    display:none;
                }
                

                // .sidebar-wrapper{
                //     .sidebar{
                //         width: 100%;
                //         min-height: 100vh;
                //         background: var(--sidebarBgColor);
                //     }
                // }
            }
        }
                 .fixed-nav {
                     position: fixed;
                     top: 0;
                     left: 0;
                     right: 0;
                     background: var(--primaryColor);
                     box-shadow: 0 0.5rem 1rem var(--lightgreyColor);
                     z-index:100;
                 }
    }
}



@media screen and (min-width:375px){

header {
        .container {
            min-height: 10vh;
            overflow-x: hidden;

            nav {
                .container-mob {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: center;
                    min-height: 10vh;


                    .company-name {
                        .logo {
                            h1 {
                                font-size: var(--fs-700);
                                font-weight: 700;

                                a {
                                    color: var(--secondaryColor);
                                }

                            }
                        }
                    }

                    .navlist {
                        display: none;
                    }

                  
                }
            }
        }
    }
}



@media screen and (min-width:425px){

header {
        .container {
            min-height: 10vh;

            nav {
                .container-mob {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: center;
                    min-height: 10vh;


                    .company-name {
                        .logo {
                            h1 {
                                font-size: var(--fs-800);
                                font-weight: 700;

                                a {
                                    color: var(--secondaryColor);
                                }

                            }
                        }
                    }

                    .navlist {
                        display: none;
                    }

                    
                }
            }
        }
    }
}

@media screen and (min-width:700px){

header {
        .container {
            min-height: 10vh;

            nav {
                .container-mob {
                    width: 90%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: center;
                    min-height: 10vh;


                    .company-name {
                        .logo {
                            h1 {
                                font-size: var(--fs-900);
                                font-weight: 700;

                                a {
                                    color: var(--secondaryColor);
                                }

                            }
                        }
                    }

                    //

                    .navlist{

                        display: none;
                    

                    }

                     .contact-lang {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    justify-self: end;

                    .lang {
                        cursor: pointer;

                        #lang {

                            background: transparent;
                            border: none;
                        }
                    }

                    .contact {

                        display:block;
                        cursor: pointer;
                        .btn-contact {
                                padding: 0.8rem 3rem;
                                font-size: var(--fs-400);
                            }
                    }

                    .btn-menu{
                            background: transparent;
                            color:var(--secondaryColor);
                            font-size: var(--fs-700);
                            font-weight: 700;
                            cursor: pointer;
                        
                    }


                }

                }
            }
        }
    }
}


@media screen and (min-width:912px){

header {
        .container {
            min-height: 10vh;

            nav {
                .container-mob {
                    width: 90%;
                        margin: 0 auto;
                    display: grid;
                    grid-template-columns: 17% 58% 25%;
                    align-items: center;
                    min-height: 10vh;


                    .company-name {
                        .logo {
                            h1 {
                                font-size: var(--fs-900);
                                font-weight: 700;

                                a {
                                    color: var(--secondaryColor);
                                }

                            }
                        }
                    }

                   
                    .navlist {

                        display: block;

                        .navlinks {
                            display: flex;
                            gap: 2rem;
                            align-items: center;
                            justify-content: center;
                            font-size: var(--fs-600);

                            a {
                                color: var(--secondaryColor);
                                font-weight: 500;
                            }
                        }

                    }
                    
                    .contact-lang {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2rem;
                        justify-self: end;

                        .lang {
                            cursor: pointer;
                            #lang {

                                background: transparent;
                                border: none;
                            }
                        }

                        .contact {
                            .btn-contact {
                                padding: 0.8rem 2rem;
                                font-size: var(--fs-300);
                            }
                        }

                        .menu-wrapper{
                            display:none;
                        }
                    }





                   
                }
            }
        }
    }
}
@media screen and (min-width:1024px){

header {
        .container {
            min-height: 10vh;

            nav {
                .container-mob {
                    width: 85%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: 18% 57% 25%;
                    align-items: center;
                    min-height: 10vh;


                    .company-name {
                        .logo {
                            h1 {
                                font-size: var(--fs-1100);
                                font-weight: 700;

                                a {
                                    color: var(--secondaryColor);
                                }

                            }
                        }
                    }

                    .menu-darkmode-lang {
                        display: none;
                      
                    }
                                        .navlist {
                    
                                            display: block;
                    
                                            .navlinks {
                                                display: flex;
                                                gap: 4rem;
                                                align-items: center;
                                                text-align: center;
                                                justify-content: center;
                                                font-size: var(--fs-600);
                    
                                                a {
                                                    color: var(--secondaryColor);
                                                    font-weight: 500;
                                                }
                                            }
                    
                                        }
                    
                                        .contact-lang {
                                            display: flex;
                                            align-items: center;
                                            justify-content:center;
                                            gap: 2rem;
                                            justify-self: end;
                    
                                            .lang {
                                                cursor: pointer;
                                                #lang {
                    
                                                    background: transparent;
                                                    border: none;
                                                }
                                            }
                    
                                            .contact {
                                                .btn-contact {
                                                    padding: 0.8rem 2.5rem;
                                                    font-size: var(--fs-400);
                                                }
                                            }
                    
                                            .darkmode {
                    
                                                .btn-darkmode {
                                                    font-size: var(--fs-1000);
                                                    background: transparent;
                                                    color: var(--secondaryColor);
                    
                                                    #sun {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }





                   
                }
            }
        }
    }
}
@media screen and (min-width:1280px){

header {
        .container {
            min-height: 10vh;

            nav {
                .container-mob {
                    width: 85%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: 18% 55% 25%;
                    align-items: center;
                    min-height: 10vh;


                    .company-name {
                        .logo {
                            h1 {
                                font-size: var(--fs-1200);
                                font-weight: 700;

                                a {
                                    color: var(--secondaryColor);
                                }

                            }
                        }
                    }

                                        .menu-darkmode-lang {
                                            display: none;
                    
                                        }
                    
                                        .navlist {
                    
                                            display: block;
                    
                                            .navlinks {
                                                display: flex;
                                                gap: 4rem;
                                                align-items: center;
                                                text-align: center;
                                                justify-content: center;
                                                font-size: var(--fs-600);
                    
                                                a {
                                                    color: var(--secondaryColor);
                                                    font-weight: 500;
                                                }
                                            }
                    
                                        }
                    
                                        .contact-lang {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            gap: 3rem;
                                            justify-self: end;
                    
                                            .lang {
                                                cursor: pointer;
                                                
                                                #lang {
                    
                                                    background: transparent;
                                                    border: none;
                                                }
                                            }
                    
                                            .contact {
                                              
                                                .btn-contact {
                                                    padding: 0.8rem 3rem;
                                                    font-size: var(--fs-400);
                                                }
                                            }
                    
                                            
                                        }

                    
                }
            }
        }
    }
}
