.property {
    margin-top: 5rem;
    overflow-x: hidden;

    .property-wrapper {
        display: grid;
        row-gap: 1.5rem;

        .property-header {
            display: grid;
            align-items: center;
            place-items: center;
            row-gap: 3rem;

            &>h1 {
                font-size: var(--fs-600);

            }

            .property-filterBtn {
                // margin-bottom: 2rem;
                display: flex;
                gap: 2rem;
                cursor: pointer;

                &>h3 {
                    font-size: var(--fs-400);
                    font-weight: 400;
                    color: var(--greyColor);



                }

                .active3 {
                    color: var(--secondaryColor);
                    border-bottom: 0.2rem solid var(--secondaryColor);
                    font-weight: 800;
                    font-size: var(--fs-400);
                    padding-bottom: 0.5rem;
                    letter-spacing: 0.1rem;
                }
            }
        }

        .property-content-container {
            display: grid;
            align-items: center;
            row-gap: 2rem;

            .property-details {
                border: 0.1rem solid var(--lightgreyColor);
                

                // display: none;
                .property-details-container {
                   
                    display: grid;
                    row-gap: 1rem;

                    .image {
                        overflow: hidden;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .house-details {
                        padding: 1rem;
                        border-bottom: 0.1rem solid var(--lightgreyColor);
                        padding-bottom: 2rem;
                        font-size: var(--fs-200);

                        .category {
                            padding-bottom: 1rem;
                        }

                        .house-title {
                            &>h2 {
                                font-weight: 500;
                            }

                        }

                        .house-location {
                            padding-top: 1rem;

                            &>h2 {
                                font-weight: 500;
                            }
                        }

                        &>P {
                            padding-top: 1rem;
                            color: var(--greyColor);

                            &>span {
                                padding-right: 0.5rem;
                            }
                        }
                    }

                    .home-info {

                        padding: 1rem;
                        display: flex;
                        gap: 2.5rem;
                        font-size: var(--fs-500);
                        color: var(--greyColor);
                        padding-top: 1.5rem;

                        &>span {
                            border-right: 0.1rem solid var(--lightgreyColor);
                            padding-right: 2rem;
                        }
                    }

                    .more-details {
                        padding: 1rem;
                        text-align: center;
                        padding-top: 2rem;

                        .details-btn {
                            width: 100%;
                            padding: 1rem;
                            cursor: pointer;

                           

                        }
                        span{
                            padding-left: 0.5rem;
                        }
                       :hover{
                        span{
                            padding-left: 1rem;
                        }
                       }
                        

                    }
                }
            }



        }
    }

    .explore-properties {
        text-align: center;


        .explore-btn {
            width: 60%;
            padding: 1rem;
            border: 0.1rem solid var(--secondaryColor);
            background: transparent;
            
            font-weight: 500;
            z-index: 100;
            a{

                color: var(--secondaryColor);
            }

        }
    }

}


@media screen and (min-width:375px) {
    
.property{
    margin-top: 5rem;

    .property-wrapper{
        display: grid;
        row-gap: 1.5rem;
        .property-header{
            display: grid;
            align-items: center;
            place-items: center;
            row-gap: 3rem;
            & > h1{
               font-size: var(--fs-600);
               
            }
            .property-filterBtn{
                // margin-bottom: 2rem;
                display: flex;
                gap: 2rem;
                 cursor: pointer;
                & > h3{
                   font-size: var(--fs-400);
                   font-weight: 400;
                   color: var(--greyColor);
                  

                   
                }
                .active3{
                 color: var(--secondaryColor);
                 border-bottom: 0.2rem solid var(--secondaryColor);
                 font-weight: 800;
                font-size: var(--fs-400);
                 padding-bottom:0.5rem;
                 letter-spacing: 0.1rem;
                }
            }
        }
         .property-content-container{
             display:grid;
             align-items: center;
             row-gap: 2rem;
        .property-details{
            border: 0.1rem solid var(--lightgreyColor);
          
            // display: none;
            .property-details-container{
                display: grid;
                row-gap: 1rem;
               
                .image{
                    overflow: hidden;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .house-details{
                    padding: 1rem;
                    border-bottom:0.1rem solid var(--lightgreyColor);
                    padding-bottom:2rem;
                    font-size: var(--fs-200);

                    .category{
                        padding-bottom: 1rem;
                    }

                    .house-title{
                        & > h2{
                            font-weight: 500;
                        }

                    }

                    .house-location{
                        padding-top:1rem;
                        & > h2 {
                                font-weight: 500;
                            }
                    }
                    & > P{
                        padding-top: 1rem;
                        color: var(--greyColor);
                        & > span{
                            padding-right:0.5rem;
                        }
                    }
                }
                .home-info{

                    padding: 1rem;
                    display: flex;
                    gap: 2.5rem;
                    font-size: var(--fs-500);
                    color:var(--greyColor);
                    padding-top: 1.5rem;

                    & > span{
                        border-right: 0.1rem solid var(--lightgreyColor);
                        padding-right: 2rem;
                    }
                }

                .more-details{
                    padding: 1rem;
                    text-align: center;
                    padding-top: 2rem;
                    .details-btn{
                        width: 100%;
                        padding: 1rem;
                       

                    }
                    
                }
            }
        }

        

       }
    }
    .explore-properties{
        text-align: center;
       
    
        .explore-btn{
            width: 60%;
            padding: 1rem;
            border: 0.1rem solid var(--secondaryColor);
            font-weight: 500;
            z-index: 100;
            background: transparent;

            a{
                color: var(--secondaryColor);
            }
            
        }
    }
    
}
}
@media screen and (min-width:425px) {
    
.property{
    margin-top: 5rem;

    .property-wrapper{
        display: grid;
        row-gap: 1.5rem;
        .property-header{
            display: grid;
            align-items: center;
            place-items: center;
            row-gap: 3rem;
            & > h1{
               font-size: var(--fs-600);
               
            }
            .property-filterBtn{
                // margin-bottom: 2rem;
                display: flex;
                gap: 2rem;
                 cursor: pointer;
                & > h3{
                   font-size: var(--fs-400);
                   font-weight: 400;
                   color: var(--greyColor);
                  

                   
                }
                .active3{
                 color: var(--secondaryColor);
                 border-bottom: 0.2rem solid var(--secondaryColor);
                 font-weight: 800;
                font-size: var(--fs-400);
                 padding-bottom:0.5rem;
                 letter-spacing: 0.1rem;
                }
            }
        }
         .property-content-container{
             display:grid;
             align-items: center;
             row-gap: 2rem;
        .property-details{
            border: 0.1rem solid var(--lightgreyColor);
            
            // display: none;
            .property-details-container{
                display: grid;
                row-gap: 1rem;
               
                .image{
                    overflow: hidden;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .house-details{
                    padding: 1rem;
                    border-bottom:0.1rem solid var(--lightgreyColor);
                    padding-bottom:2rem;
                    font-size: var(--fs-200);

                    .category{
                        padding-bottom: 1rem;
                    }

                    .house-title{
                        & > h2{
                            font-weight: 500;
                        }

                    }

                    .house-location{
                        padding-top:1rem;
                        & > h2 {
                                font-weight: 500;
                            }
                    }
                    & > P{
                        padding-top: 1rem;
                        color: var(--greyColor);
                        & > span{
                            padding-right:0.5rem;
                        }
                    }
                }
                .home-info{

                    padding: 1rem;
                    display: flex;
                    gap: 2.5rem;
                    font-size: var(--fs-500);
                    color:var(--greyColor);
                    padding-top: 1.5rem;

                    & > span{
                        border-right: 0.1rem solid var(--lightgreyColor);
                        padding-right: 2rem;
                    }
                }

                .more-details{
                    padding: 1rem;
                    text-align: center;
                    padding-top: 2rem;
                    .details-btn{
                        width: 100%;
                        padding: 1rem;
                      

                    }
                    
                }
            }
        }

        

       }
    }
    .explore-properties{
        text-align: center;
       
    
        .explore-btn{
            width: 60%;
            padding: 1rem;
            border: 0.1rem solid var(--secondaryColor);
            font-weight: 500;
            z-index: 100;
            background: transparent;
            
                a {
                    color: var(--secondaryColor);
                }
            
        }
    }
    
}
}
@media screen and (min-width:768px) {
    
.property{
    margin-top: 5rem;

    .property-wrapper{
        display: grid;
        row-gap: 1.5rem;
        .property-header{
            display: grid;
            align-items: center;
            place-items: center;
            row-gap: 3rem;
            & > h1{
               font-size: var(--fs-700);
               
            }
            .property-filterBtn{
                // margin-bottom: 2rem;
                display: flex;
                gap: 2rem;
                 cursor: pointer;
                & > h3{
                   font-size: var(--fs-400);
                   font-weight: 400;
                   color: var(--greyColor);
                  

                   
                }
                .active3{
                 color: var(--secondaryColor);
                 border-bottom: 0.2rem solid var(--secondaryColor);
                 font-weight: 800;
                font-size: var(--fs-400);
                 padding-bottom:0.5rem;
                 letter-spacing: 0.1rem;
                }
            }
        }
         .property-content-container{
             display:grid;
             align-items: center;
             grid-template-columns: repeat(2, 1fr);
             row-gap: 2rem;
             column-gap: 2rem;
        .property-details{
            border: 0.1rem solid var(--lightgreyColor);
            
            // display: none;
            .property-details-container{
                display: grid;
                row-gap: 1rem;
               
                .image{
                    overflow: hidden;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .house-details{
                    padding: 1rem;
                    border-bottom:0.1rem solid var(--lightgreyColor);
                    padding-bottom:2rem;
                    font-size: var(--fs-200);

                    .category{
                        padding-bottom: 1rem;
                    }

                    .house-title{
                        & > h2{
                            font-weight: 500;
                        }

                    }

                    .house-location{
                        padding-top:1rem;
                        & > h2 {
                                font-weight: 500;
                            }
                    }
                    & > P{
                        padding-top: 1rem;
                        color: var(--greyColor);
                        & > span{
                            padding-right:0.5rem;
                        }
                    }
                }
                .home-info{
                    padding: 1rem;

                    display: flex;
                    gap: 2.5rem;
                    font-size: var(--fs-500);
                    color:var(--greyColor);
                    padding-top: 1.5rem;

                    & > span{
                        border-right: 0.1rem solid var(--lightgreyColor);
                        padding-right: 2rem;
                    }
                }

                .more-details{
                    padding: 1rem;
                    text-align: center;
                    padding-top: 2rem;
                    .details-btn{
                        width: 100%;
                        padding: 1rem;
                        
                    }

                    
                    
                }
            }
        }

        

       }
    }
    .explore-properties{
        text-align: center;
       
    
        .explore-btn{
            width: 30%;
            padding: 1rem;
            border: 0.1rem solid var(--secondaryColor);
            font-weight: 500;
            z-index: 100;
            background: transparent;
            
                a {
                    color: var(--secondaryColor);
                }
            
        }
    }
    
}
}
@media screen and (min-width:820px) {
    
.property{
    margin-top: 5rem;

    .property-wrapper{
        display: grid;
        row-gap: 1.5rem;
        .property-header{
            display: grid;
            align-items: center;
            place-items: center;
            row-gap: 3rem;
            & > h1{
               font-size: var(--fs-700);
               
            }
            .property-filterBtn{
                // margin-bottom: 2rem;
                display: flex;
                gap: 2rem;
                 cursor: pointer;
                & > h3{
                   font-size: var(--fs-400);
                   font-weight: 400;
                   color: var(--greyColor);
                  

                   
                }
                .active3{
                 color: var(--secondaryColor);
                 border-bottom: 0.2rem solid var(--secondaryColor);
                 font-weight: 800;
                font-size: var(--fs-400);
                 padding-bottom:0.5rem;
                 letter-spacing: 0.1rem;
                }
            }
        }
         .property-content-container{
             display:grid;
             align-items: center;
             grid-template-columns: repeat(2, 1fr);
             row-gap: 2rem;
             column-gap: 2rem;
        .property-details{
            border: 0.1rem solid var(--lightgreyColor);
       
            // display: none;
            .property-details-container{
                display: grid;
                row-gap: 1rem;
               
                .image{
                    overflow: hidden;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .house-details{
                    padding: 1rem;
                    border-bottom:0.1rem solid var(--lightgreyColor);
                    padding-bottom:2rem;
                    font-size: var(--fs-200);

                    .category{
                        padding-bottom: 1rem;
                    }

                    .house-title{
                        & > h2{
                            font-weight: 500;
                        }

                    }

                    .house-location{
                        padding-top:1rem;
                        & > h2 {
                                font-weight: 500;
                            }
                    }
                    & > P{
                        padding-top: 1rem;
                        color: var(--greyColor);
                        & > span{
                            padding-right:0.5rem;
                        }
                    }
                }
                .home-info{

                    padding: 1rem;
                    display: flex;
                    gap: 2.5rem;
                    font-size: var(--fs-500);
                    color:var(--greyColor);
                    padding-top: 1.5rem;

                    & > span{
                        border-right: 0.1rem solid var(--lightgreyColor);
                        padding-right: 2rem;
                    }
                }

                .more-details{
                    padding: 1rem;
                    text-align: center;
                    padding-top: 2rem;
                    .details-btn{
                        width: 100%;
                        padding: 1rem;
                        

                    }
                    
                }
            }
        }

        

       }
    }
    .explore-properties{
        text-align: center;
       
    
        .explore-btn{
            width: 30%;
            padding: 1rem;
            border: 0.1rem solid var(--secondaryColor);
            font-weight: 500;
            z-index: 100;
            background: transparent;
            
                a {
                    color: var(--secondaryColor);
                }
            
        }
    }
    
}
}
@media screen and (min-width:912px) {
    
.property{
    margin-top: 5rem;

    .property-wrapper{
        display: grid;
        row-gap: 1.5rem;
        .property-header{
            display: grid;
            align-items: center;
            place-items: center;
            row-gap: 3rem;
            & > h1{
               font-size: var(--fs-700);
               
            }
            .property-filterBtn{
                // margin-bottom: 2rem;
                display: flex;
                gap: 2rem;
                 cursor: pointer;
                & > h3{
                   font-size: var(--fs-400);
                   font-weight: 400;
                   color: var(--greyColor);
                  

                   
                }
                .active3{
                 color: var(--secondaryColor);
                 border-bottom: 0.2rem solid var(--secondaryColor);
                 font-weight: 800;
                font-size: var(--fs-400);
                 padding-bottom:0.5rem;
                 letter-spacing: 0.1rem;
                }
            }
        }
         .property-content-container{
             display:grid;
             align-items: center;
             grid-template-columns: repeat(3, 1fr);
             row-gap: 2rem;
             column-gap: 2rem;
        .property-details{
            border: 0.1rem solid var(--lightgreyColor);

            // display: none;
            .property-details-container{
                display: grid;
                row-gap: 1rem;
               
                .image{
                    overflow: hidden;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .house-details{
                    padding: 1rem;
                    border-bottom:0.1rem solid var(--lightgreyColor);
                    padding-bottom:2rem;
                    font-size: var(--fs-200);

                    .category{
                        padding-bottom: 1rem;
                    }

                    .house-title{
                        & > h2{
                            font-weight: 500;
                        }

                    }

                    .house-location{
                        padding-top:1rem;
                        & > h2 {
                                font-weight: 500;
                            }
                    }
                    & > P{
                        padding-top: 1rem;
                        color: var(--greyColor);
                        & > span{
                            padding-right:0.5rem;
                        }
                    }
                }
                .home-info{
                    padding: 1rem;

                    display: flex;
                    gap: 2.5rem;
                    font-size: var(--fs-500);
                    color:var(--greyColor);
                    padding-top: 1.5rem;

                    & > span{
                        border-right: 0.1rem solid var(--lightgreyColor);
                        padding-right: 2rem;
                    }
                }

                .more-details{
                    padding: 1rem;
                    text-align: center;
                    padding-top: 2rem;
                    .details-btn{
                        width: 100%;
                        padding: 1rem;
                        

                    }
                    
                }
            }
        }

        

       }
    }
    .explore-properties{
        text-align: center;
       
    
        .explore-btn{
            width: 30%;
            padding: 1rem;
            border: 0.1rem solid var(--secondaryColor);
            font-weight: 500;
            z-index: 100;
            background: transparent;
            
                a {
                    color: var(--secondaryColor);
                }
            
        }
    }
    
}
}
@media screen and (min-width:1024px) {
    
.property{
    margin-top: 5rem;

    .property-wrapper{
        display: grid;
        row-gap: 1.5rem;
        .property-header{
            display: grid;
            align-items: center;
            place-items: center;
            row-gap: 3rem;
            & > h1{
               font-size: var(--fs-800);
               
            }
            .property-filterBtn{
                // margin-bottom: 2rem;
                display: flex;
                gap: 2rem;
                 cursor: pointer;
                & > h3{
                   font-size: var(--fs-400);
                   font-weight: 400;
                   color: var(--greyColor);
                  

                   
                }
                .active3{
                 color: var(--secondaryColor);
                 border-bottom: 0.2rem solid var(--secondaryColor);
                 font-weight: 800;
                font-size: var(--fs-400);
                 padding-bottom:0.5rem;
                 letter-spacing: 0.1rem;
                }
            }
        }
         .property-content-container{
             display:grid;
             align-items: center;
             grid-template-columns: repeat(3, 1fr);
             row-gap: 2rem;
             column-gap: 2rem;
        .property-details{
            border: 0.1rem solid var(--lightgreyColor);
            
            // display: none;
            .property-details-container{
                display: grid;
                row-gap: 1rem;
               
                .image{
                    overflow: hidden;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .house-details{
                    padding: 1rem;
                    border-bottom:0.1rem solid var(--lightgreyColor);
                    padding-bottom:2rem;
                    font-size: var(--fs-200);

                    .category{
                        padding-bottom: 1rem;
                    }

                    .house-title{
                        & > h2{
                            font-weight: 500;
                        }

                    }

                    .house-location{
                        padding-top:1rem;
                        & > h2 {
                                font-weight: 500;
                            }
                    }
                    & > P{
                        padding-top: 1rem;
                        color: var(--greyColor);
                        & > span{
                            padding-right:0.5rem;
                        }
                    }
                }
                .home-info{
                    padding: 1rem;

                    display: flex;
                    gap: 2.5rem;
                    font-size: var(--fs-500);
                    color:var(--greyColor);
                    padding-top: 1.5rem;

                    & > span{
                        border-right: 0.1rem solid var(--lightgreyColor);
                        padding-right: 2rem;
                    }
                }

                .more-details{
                    padding: 1rem;
                    text-align: center;
                    padding-top: 2rem;
                    .details-btn{
                        width: 100%;
                        padding: 1rem;
                    

                    }
                    
                }
            }
        }

        

       }
    }
    .explore-properties{
        text-align: center;
       
    
        .explore-btn{
            width: 20%;
            padding: 1rem;
            border: 0.1rem solid var(--secondaryColor);
            font-weight: 500;
            z-index: 100;
            background: transparent;
            
                a {
                    color: var(--secondaryColor);
                }
            
        }
    }
    
}
}
@media screen and (min-width:1280px) {
    
.property{
    margin-top: 5rem;

    .property-wrapper{
        display: grid;
        row-gap: 1.5rem;
        .property-header{
            display: grid;
            align-items: center;
            place-items: center;
            row-gap: 3rem;
            & > h1{
               font-size: var(--fs-800);
               
            }
            .property-filterBtn{
                // margin-bottom: 2rem;
                display: flex;
                gap: 2rem;
                 cursor: pointer;
                & > h3{
                   font-size: var(--fs-400);
                   font-weight: 400;
                   color: var(--greyColor);
                  

                   
                }
                .active3{
                 color: var(--secondaryColor);
                 border-bottom: 0.2rem solid var(--secondaryColor);
                 font-weight: 800;
                font-size: var(--fs-400);
                 padding-bottom:0.5rem;
                 letter-spacing: 0.1rem;
                }
            }
        }
         .property-content-container{
             display:grid;
             align-items: center;
             grid-template-columns: repeat(4, 1fr);
             row-gap: 2rem;
             column-gap: 2rem;
        .property-details{
            border: 0.1rem solid var(--lightgreyColor);

            // display: none;
            .property-details-container{
                display: grid;
                row-gap: 1rem;
               
                .image{
                    overflow: hidden;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .house-details{
                    padding: 1rem;
                    border-bottom:0.1rem solid var(--lightgreyColor);
                    padding-bottom:2rem;
                    font-size: var(--fs-200);

                    .category{
                        padding-bottom: 1rem;
                    }

                    .house-title{
                        & > h2{
                            font-weight: 500;
                        }

                    }

                    .house-location{
                        padding-top:1rem;
                        & > h2 {
                                font-weight: 500;
                            }
                    }
                    & > P{
                        padding-top: 1rem;
                        color: var(--greyColor);
                        & > span{
                            padding-right:0.5rem;
                        }
                    }
                }
                .home-info{
                    padding: 1rem;

                    display: flex;
                    gap: 2.5rem;
                    font-size: var(--fs-500);
                    color:var(--greyColor);
                    padding-top: 1.5rem;

                    & > span{
                        border-right: 0.1rem solid var(--lightgreyColor);
                        padding-right: 2rem;
                    }
                }

                .more-details{
                    padding: 1rem;
                    text-align: center;
                    padding-top: 2rem;
                    .details-btn{
                        width: 100%;
                        padding: 1rem;
                        

                    }
                    
                }
            }
        }

        

       }
    }
    .explore-properties{
        text-align: center;
       
    
        .explore-btn{
            width: 20%;
            padding: 1rem;
            border: 0.1rem solid var(--secondaryColor);
            font-weight: 500;
            z-index: 100;
            background: transparent;
            
                a {
                    color: var(--secondaryColor);
                }
            
        }
    }
    
}
}